.ipynb_checkpoints
*.pyc
__pycache__/
*.py[cod]
.DS_Store
venv/*
objects/*
.mlp
images/*
Blender/*
scenes/*
scenes
wandb/*
slurm-*
.vscode/
*.pt
media/
render_logs
*.mp4
jspsych-6.3.1/*
saved_models
*.pdf
